
<div *ngIf="check">


<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
 <span style="border-radius:10x"><img class="navbar-brand"  src={{user.image}}></span>

  <ul class="navbar-nav  ml-auto">
     <li class="nav-item">
        <a class="nav-link" routerLink="/home/employee" style="color:blanchedalmond" >Employee</a>
     </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/profile" style="color:blanchedalmond" >Profile</a>
        </li>
    <li class="nav-item">
      <span class="nav-link" style="color:blanchedalmond" >{{user.displayName}}</span>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary" style="width:100px;" type="submit">Logout</button>
    </li>
  </ul>

</nav>
</div>
<router-outlet ></router-outlet>
<!-- <div class="container-fluid" style="margin-top:80px">
</div> -->